#Global______________________________________________________________________
#conda source
GLOBAL__CONDA_SH__=/path/to/etc/profile.d/conda.sh

#pipeline root
GLOBAL__PROJECT_ROOT__=/path/to/host_element_V3

#cgmlst______________________________________________________________________
#environment
CGE__CONDA_ENV__=cgmlst_env_name
#databases
CGE__DB_PATH__=/path/to/cgmlstfinder_db
CGE__KMA_PATH__=/path/to/kma/kma

#kmodes______________________________________________________________________
#environment
KMODES__CONDA_ENV__=kmodes_env_name

#host_element_pipeline_______________________________________________________
#environments
HEP__CONDA_ENV__=hep_pipeline_env_name
HEP__MMSEQ2_ENV__=mmseq2_env_name

#Bayesian_LCM________________________________________________________________
#environments
BLCM__CONDA_ENV__=jags_env_name
BLCM__R_BASICS_ENV__=blcm_r_basics_env_name

#FimhTyper________________________________________________________________
#environments
FIMHTYPER__CONDA_ENV__=araclab_dependencies_fimtyper
#databases
FIMHTYPER__DATABASE__=/path/to/fimtyper/fimtyper_db
#scripts
FIMHTYPER__TOOL_LOCATION__=/path/to/cge_fimhtyper/fimtyper

#MLST_____________________________________________________________________
#environments
MLST__CONDA_ENV__=araclab_mlst_dependencies
#scripts
MLST__EXECUTABLE__=/path/to/mlst/bin
